/* Header Section */

.headerDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 35px;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: #FFF;
}

.logo {
    height: 38px;
}

.navigation {
    display: flex;
    width: 825px;
    align-items: center;
}

.partNav {
    width: 601px;
    height: 22px;
}

.eachNavLi {
    display: inline-block;
}

.navLi {
    font-size: 18px;
    line-height: 21.78px;
    font-family: 'Inter400';
    color: #37393F;
    padding: 0px 14px;
    text-align: center;
}

.lastNavLiDiv {
    padding: 21px 35px 22px 35px;
    background-color: #6B77E5;
}

.lastNavLi {
    font-family: 'Inter600';
    font-size: 18px;
    line-height: 21.87px;
    text-align: center;
    color: #FFFFFF;
}

/* Work Process Section */

.workProcessDiv {
    text-align: center;
    padding-top: 120px;
}

.workProcessTitle {
    font-family: 'Inter500';
    font-size: 18px;
    line-height: 21.78px;
    color: #37393F;
}

.howWeWorkTitle {
    font-family: 'Poppins700';
    font-size: 40px;
    font-weight: 700;
    line-height: 48.4px;
    margin: 16px 0px 41px;
}

.mainDivs {
    display: inline-block;
    width: 386px;
    height: 383px;
    padding: 58px 43px 58px 43px;
    background-color: #F4F4F4;
    margin-right: 31px;
}

.lastMainDiv {
    margin-right: 0px;
}

.divTitles {
    font-family: 'Poppins600';
    font-size: 25px;
    line-height: 31.75px;
    text-align: center;
    color: #37393F;
    margin-bottom: 16px;
}

.divPs1 {
    font-family: 'Inter400';
    font-size: 18px;
    line-height: 26.31px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 37px;
}


.divPs2 {
    font-family: 'Inter600';
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
    color: #6B77E5;
    margin-bottom: 10px;
}

/* Image section */

.greenImage {
    width: 100%;
    height: 557px;
}

.imageTextDiv {
    width: 511px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageRelative {
    position: relative;
    margin-top: 60px;
}

.shortVideoTitle {
    font-family: 'Inter500';
    font-size: 18px;
    line-height: 21.78px;
    color: #37393F;
    margin-bottom: 16px;
}

.ourPresentationTitle {
    font-family: 'Poppins700';
    font-size: 40px;
    line-height: 48.4px;
    color: #37393F;
    margin-bottom: 21px;
}

.imageP {
    font-family: 'Inter400';
    font-size: 18px;
    line-height: 26.31px;
    color: #37393F;
    margin-bottom: 47px;
}


/* Work Team Section*/

.workTeamSection {
    width: 1220px;
    height: 659px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 131px;
}

.ourTeamTitle {
    font-family: 'Inter500';
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
    color: #37393F;
    margin-top: 130px;
    margin-bottom: 16px;
}

.meetOurExpertsTitle {
    font-family: 'Poppins700';
    font-size: 40px;
    line-height: 48.4px;
    text-align: center;
    color: #37393F;
}

.teamDiv {
    display: flex;
    gap: 38.5px;
    margin-bottom: 131px;
    margin-top: 41px;
}


.eachExpert {
    width: 386px;
    height: 532px;
    position: relative;
}

.aboutExperts {
    width: 341px;
    height: 114px;
    background-color: #FFFFFF;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    bottom: -19px;
    left: 50%;
    transform: translate(-50%);
}


.expertNameSurname {
    font-family: 'Poppins600';
    font-size: 25px;
    line-height: 37.5px;
    text-align: center;
    color: #37393F;
}


.profession {
    font-family: 'Inter400';
    font-size: 18px;
    line-height: 24.33px;
    text-align: center;
    color: #7D7D7D;
}